<md-toolbar color="primary">
    <span>{{ title }}</span>
</md-toolbar>

<md-sidenav-container fullscreen>
    <md-sidenav #start opened mode="side" layout="column" flex>
        Drawer
    </md-sidenav>

    <div class="sidenav-content">
        <button md-button (click)="start.toggle()">Toggle Start Side Drawer</button> 
        test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test t   test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test t   test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test t   test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test t   test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test t   test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test t   test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test t   test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test t   test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test t   test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test t   test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test test test test test
        test test test test test test test test test test test test test test test test test test test t
    </div>
</md-sidenav-container>