md-sidenav-container {
  z-index: -1;
}

md-sidenav {
  width: 200px;
  background-color: #fff;
  padding-top: 79px;
}

.sidenav-content {
  padding: 40px;
  padding-top: 64px;
}

.toolbar-fill-remaining {
    flex: 1 1 auto;
}

.toolbar-options-icon {
    padding: 0 0 0 50px;
}