<md-grid-list cols="6" rowHeight="100px" gutterSize="20px">
  <md-grid-tile colspan="6" rowspan="4" class="md-elevation-z2">
    <app-map *ngIf="flights" [flights]="flights" [airports]="airports"></app-map>
  </md-grid-tile>
</md-grid-list>

<!--<md-card class="map-card">
  <app-map [flights]="flights"></app-map>
</md-card>-->

<div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="none stretch">
  <md-card fxFlex>
    <app-total-flights-widget [flights]="flights"></app-total-flights-widget>
  </md-card>
  <div class="spacer"></div>
  <md-card fxFlex>
    <app-total-distance-widget [flights]="flights" [airports]="airports"></app-total-distance-widget>
  </md-card>
  <div class="spacer"></div>
  <md-card fxFlex>
    <app-total-time-widget [flights]="flights"></app-total-time-widget>
  </md-card>
</div>

<div class="spacer"></div>

<div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="none stretch">
  <md-card fxFlex>
    
    
<canvas baseChart width="400" height="300"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [options]="options"></canvas>


  </md-card>
  <div class="spacer"></div>
  <md-card fxFlex>
    <app-total-distance-widget [flights]="flights" [airports]="airports"></app-total-distance-widget>
  </md-card>
</div>