<md-grid-list cols="6" rowHeight="100px" gutterSize="20px">
  <md-grid-tile colspan="6" rowspan="4" class="md-elevation-z2">
    <app-map></app-map>
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="1" class="md-elevation-z2">
    Simple card
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="1" class="md-elevation-z2">
    Simple card
  </md-grid-tile>
  <md-grid-tile colspan="2" rowspan="1" class="md-elevation-z2">
    Simple card
  </md-grid-tile>
</md-grid-list>
st test test test test test test test test test test test test test test test test
test test test test test test t test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test t test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test tes test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test t test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test t test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test t test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test t test test test
tesest test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test t test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test test test test test t test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test test test test test test test test test test test test test test test test test test test test test test test test test
test test test test test t