/* You can add global styles to this file, and also import other style files */

html, body, app-root, md-sidenav-container, .my-content {
  /*width: 100%;
  height: 100%;*/
  margin: 0px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.bold-data-primary {
  font-size: 40px;
  font-weight: 400;
}

.bold-data-secondary {
  font-size: 25px;
  font-weight: 400;
}

.gradient-color {
  background: -webkit-linear-gradient(left bottom, #ff5722, #FFB729);
  background: linear, to right top, #ff5722, #FFB729;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ff5722;
}